<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.JHJ_Studio.ttakmanna">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
        <activity
            android:name="com.JHJ_Studio.ttakmanna.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.JHJ_Studio.ttakmanna.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.JHJ_Studio.ttakmanna.PersonalInfoActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.IntroductionActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.BackPressHomeHandler" />
        <activity android:name="com.JHJ_Studio.ttakmanna.BackPressCloseHandler" />
        <activity android:name="com.JHJ_Studio.ttakmanna.SettingActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.ScheduleListActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.PrintScheduleActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.FixScheduleActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.ParticipationAllActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.ParticipationCheckActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.DetailModeActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.ChoiceModeActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.NewScheduleActivity" />
        <activity android:name="com.JHJ_Studio.ttakmanna.MainActivity" />
    </application>

</manifest>